# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.env
uploads/
# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
*.log.*

# Optional:
coverage/
.idea/
